<!-- Carousel -->
<div id="dtb-carousel" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#dtb-carousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#dtb-carousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#dtb-carousel" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active"
            style="background: url('../img/platos-okaylah-asiatico-valencia.jpg'); background-size: cover;">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center gap-4 p-4">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
                <a href="#" class="btn btn-primary">This is a button</a>
            </div>
        </div>
        <div class="carousel-item"
            style="background: url('../img/okaylah-ubicacion.jpg'); background-size: cover;">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center gap-4 p-4">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
                <a href="#" class="btn btn-primary">This is a button</a>
            </div>
        </div>
        <div class="carousel-item"
            style="background: url('../img/okaylah-comida-asiatica-a-domicilio.jpg'); background-size: cover;">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center gap-4 p-4">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
                <a href="#" class="btn btn-primary">This is a button</a>
            </div>
        </div>

    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#dtb-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#dtb-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>